.un{
    display:flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom:6.9999vw;
    font-size:1.41111vw;
  }
  .hel{
    width:600px;
  }
  .a{
    font-size: 2.11111vw;
   }
   .ali{
    border-bottom: 2px solid red;
  }